@charset "UTF-8";


body{
    margin: 0;
    padding:0;
    font-family: arial, time new roma, verdana;
}





/*ÁREA DE CABEÇALHO*/



header{
    display: flex;
    justify-content: center;
    height:80px;
}


.container_cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 50px;
    max-width: 1312px;
    height: 80px;

}

nav{
    display: flex;
    padding:0;
    margin: 0;
    z-index: 10;
}


.Menu .logim_area{
   margin-left: 100px;
    display: flex;
}

.Menu{
    display: flex;
    align-items:center;

}


nav ul{
    list-style: none;
    display: flex;

}
nav ul li{
    font-size: 13px;
    color: grey;
    margin: 10px;
}

nav ul li a{
    text-decoration: none;
    color: grey;
}

nav ul li a:hover{
    border-bottom: 2px solid greenyellow;
    padding-bottom: 5px;
}



/*CORPO DO SITE BANNER*/

.banner_cabecalho{
    display: flex;
    justify-content: center;
    color: white;
    background-image:url("../IMAGEM/banner.png");
    height:600px;
    background-size: cover;
    background-attachment:fixed; /*AQUI CRIA O EFEITO PARALAX*/
}


.frase_banner{
    text-align: center;
    margin-top: 350px;
    font-size: 32px;
}

/*AQUI FICA O FORMULÁRIO DE CADSTRO*/

#agendar{
    margin-top: 40px;
    height: 86px;
    text-align: left;
    display: flex;
    max-width: 1215px;
    background-color: #ffffff;
    border-radius: 15px;
}



::-webkit-input-placeholder {
    color: gray;
}

:-moz-placeholder { /* Firefox 18- */
    color: gray;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: gray;
}

:-ms-input-placeholder {
    color: gray;
}

/*AQUI VOCÊ ALTERA O PLACEHOLDER*/

.infor_cadastro{
    border-right: 1px solid lightgrey;
    color: grey;
    width: 300px;
    font-size: 16px;
}

.infor_cadastro input{
    padding-left: 10px;
    border:0;
    font-size: 18px;
    margin-top: 10px;
    outline: none;
}


.Text_Local{
    padding: 10px;
    background-color: #f8f9fa;;
}
.Botao_consultar{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    border-bottom-right-radius: 15px;
    background-color: yellowgreen;
}

.Botao_consultar:hover{
    transition: 1s;
    background-color: lightskyblue;
}

.marcar_consulta a{
    padding: 40px;
    color: #ffffff;
    text-decoration: none;
}


/*CORPO DA PÁGINA COMO FUNCIONA DOCWAY*/

.corpo_docway{
    display: flex;
    justify-content: center;
    height: 600px;
}

.Container_docway{
    display: flex;
    margin-top: 70px;
    font-size: 30px;
    font-weight: bold;
}

.corpo_docway .barra{
    margin: auto;
    width: 100px;
    height:4px;
    margin-top: 10px;
    background-color: greenyellow;
}


/*CORPO PRIMEIRA SESSÃO DE CONTEÚDO*/
#como_funciona{
    display: flex;
    justify-content: space-around;
}
.container2{
    padding-top: 88px;
    height: 666px;
    width: 1275px;
}

.Titulo{
    width:300px;
    margin: auto;
    text-align: center;
}


.barra{
    margin: auto;
    width:100px;
    height: 3px;
    background-color: yellowgreen;
}


/*ÁREA PRINCIPAL DO CONTAINER*/
.container_3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.container_3 .Imagem_computador{
   padding-right: 70px;
}

.container_3 .Texto{
    margin-bottom: 84px;
}

.Texto_info{
    line-height: 30px;
    margin-right: 70px;
    color: gray;
}

.Texto h1{
    font-size: 30px;
}

/*CORPO SEGUNDA SEÇÃO DO CONTEUDO*/

#Docway_Numero{
    display: flex;
    justify-content: center;
    height: 300px;
    background-color:#3c3c3c;;
}

.Container_Nº{
    width:715px;
    height: 300px;
}

.container_nº2{
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}

.container_nº3{
    display: flex;
    justify-content: space-around;
    height: 400px;
}

.texto_numero{
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 60px;
    text-align: center;
    font-size: 22px;
}

.container_nº2 h1{
    color: #ffffff;
    font-size: 40px;
}

.container_nº2 span{
    color: yellowgreen;
}

span#cidade{
    color: #afafaf;
    font-size: 17.6px;
    line-height: 30px;
    display: flex;
}

span#medico_cadastrado{
    font-size: 17.6px;
    line-height: 30px;
    color: #afafaf;
    display: flex;
    justify-content: space-around;
}

/*CORPO TERCEIRA SESSÃO DE CONTEÚDO*/

#Midia_Dcoway{
    display: flex;
    justify-content: space-around;
}

.container_Midia{
    display: flex;
    width: 1240px;
}

.container_media2{
    display: flex;
    margin-top: 23px;
    flex-wrap: wrap;
    margin-left: -60px;
}


.container_media2 img{
    width: 300px;
    height: 89px;
    margin-top: 30px;
    margin-bottom: 53px;
    margin-left: 24px;
}


.container_Midia h1{
    padding-top: 50px;
    text-transform: uppercase;
}



.barra_midia{
    width: 100px;
    height: 3px;
    background-color: yellowgreen;
}


/*CORPO 4 PARTE SECTION ÁREA AGENDE SUA CONSULTA*/

#consulta{
    display: flex;
    justify-content: center;
    height: 500px;
    background-size: cover;
    background-image: url('../IMAGEM/Enfermeiro-3.jpg');
    background-attachment: fixed;
    margin-top:-30px;
}

#consulta .frase_banner{
    margin-top: 251px;
    color: #ffffff;

}


/*CORPO 5 PARTE SECRION ÁREA QUER SER UM PROFISSIONAL DE SAÚDE DOCWAY? */


#faca_parte{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 400px;
    background-color:#87CEFA;
    padding-left: 20px;
}

#faca_parte h1{
    max-width: 638px;
    font-size: 32px;
    color: #ffffff;
    line-height: 50px;
    margin-left: 53px;
}

#faca_parte .docwya_texto_inf{
    max-width: 412px;
    color: #ffffff;
    line-height: 25px;
    margin-left: 53px;
}

#faca_parte .docwya_texto_inf span{
    line-height: 50px;
}

#faca_parte .Imagem_info img{
    padding-left: 40px;
    padding-top: 30px;

}

#faca_parte .Imagem_info{
    display: flex;
    margin-left: -40px;
}

#faca_parte .footer_cell{
    width: 400px;
    height: 400px;
}

#faca_parte .footer_cell img{
    margin-top: 30px;
}

/*ESSA ÁREA É DO UTIMO FOOTER*/
 .black_footer{
     display: flex;
     justify-content: flex-end;
     height: 90px;
     background-color: #3c3c3c;
}
 .Footer_container{
     display: flex;
     margin-right:90px;
     align-items: center;

 }

 .footer_social img{
     padding-left: 20px;
 }
.copyright_texto{
    width: 270px;
    font-family:arial, time new roma, verdana;
    font-size: 12px;
    color: gray;
    line-height: 20px;
    margin-left:20px;
}




.Menu_Mobile{
    display: none;
    width: 30px;
    height: 40px;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.mm_line{
    height: 2px;
    background-color: yellowgreen;
    justify-content: space-around;
    margin-bottom: 10px;
}

/*PARTE RESPONSIVA DESKTOP*/

 @media(max-width:1024px){

     .Menu_Mobile{
         display: none;
         flex-direction: column;
         justify-content: space-around;
     }

     .logim_area{
         padding-left: 0px;
         margin-top: 20px;
     }


     .container_cabecalho .logo{
         padding-left: 50px;
     }

     /*FORMULÁRIO*/
     #agendar .infor_cadastro{
         width: 183px;

     }
     #agendar .infor_cadastro input{
         font-size: 13px;
     }

     /*ÁREA DO TEXTO DO COMO FUNCIONA*/
     .container2{
         width: auto;
     }
     .Texto .Texto_info{
         width: 364px;
     }

     .Texto h1{
         font-size: 27px;
     }
   /*ÁREA DOCWAY NA MÍDIA*/
     .container_Midia{
         padding-left: 59px;
     }

     .container_media2 img{
         width: 225px;
         height: 79px;
     }

     /*ÁREA QUER SER UM PROFISSIONAL DOCWAY*/

     #faca_parte h1{
         max-width:511px
     }

     #faca_parte .footer_cell img{
         width: 370px;
         height: 370px;
         margin-left: 41px;

     }


 }


/*PARTE RESPONSIVA TABLETE*/

@media(max-width:768px){

    /*BANNER CABEÇALHO*/
    .banner_cabecalho{
        height: 650px;
    }

    header{
        height: 60px;
    }


    /*ÁREA DO MENÚ*/
    nav ul{
        display: none;
    }

    /*ÁREA DO LOGO*/
    .container_cabecalho .logo{
       line-height: 80px;
    }

    .Menu_Mobile{
        margin-left: 500px;
        display: flex;
        line-height: 80px;
        flex-direction: column;
        justify-content: space-around;
    }

    nav ul{
        border: 2px solid lightgray;
        flex-direction: column;
        display: none;
        position: fixed;
        left: 0;
        margin-top: 65px;
        width: 100%;
        height: 100000px;
        margin-left: 350px;
        background-color: #ffffff;
        border-top:1px solid darkgrey;
    }

    nav ul li{
        border-bottom:1px solid darkgrey;
        margin-left: -41px;
        height: 30px;
        padding-left: 10px;


    }

    nav ul li a{
        line-height:22px;
        margin-left: 10px;
    }

    nav ul li a:hover{
        border-bottom:none;
        padding-bottom:none;
    }

   .Menu .logim_area{
        margin-top: auto;
       margin-left: 0px;
        flex-direction: column;
    }






    /*ÁREA DO FORMULÁRIO*/
    #agendar{
        flex-direction:column;
        height:auto;
        width: 641px;

    }



    #agendar .infor_cadastro{
        margin: auto;
        width: 640px;
    }

    .Botao_consultar{
        height: 59px;
    }
    #agendar .Text_Local{
        padding-left: 19px;
        border-radius: 9px;
    }

    #agendar .infor_cadastro input{
        padding-left: 19px;
        margin-top: 12px;
        margin-bottom: 13px;

    }

    #agendar .infor_cadastro{
        border-right: none;
    }

    /*ÁREA DO BANNER*/

    .frase_banner{
        margin-top: 165px;
    }

    .frase_banner_texto{
           font-size: 24px;
    }

    /*ÁREA COMO FUNCIONA*/
    .container_3{
        flex-direction: column;
    }

    /*ÁREA COMO FUNCIONA TEXTO*/
    .Texto .Texto_info{
        width: 660px
    }
    #Docway_Numero {
        margin-top: 59px;
    }

    /*ÁREA AGENDE AGORA SUA CONSULTA */
    #consulta{
        height: 100%;
        width: 100%;
        padding-bottom: 66px;

    }
    #faca_parte .footer_cell img{
        display: none;
    }

    #faca_parte h1{
        font-size: 22px;
        max-width:none;
    }


}


/*PARTE RESPONSIVA MOBILE*/

@media  (min-width: 320px) and (max-width:425px) {



    /*ÁREA DO FORMULÁRIO E DÁ FRASE DE EFEITO*/

    .banner_cabecalho #agendar{
       width:381px;;
    }
    .frase_banner{
        margin-top: 129px;
    }

    .frase_banner_texto{
        font-size: 21px;
        padding-bottom: 10px;
    }

    #agendar .infor_cadastro{
        width: 381px;
    }
    #agendar{
        margin: auto;
    }

    /*ÁREA DO MENU*/
    nav ul{
       display: none;
       margin-left: 180px;
    }
   .Menu{
       margin-left: -304px;
   }

   .Menu_Mobile{
        margin-left: 500px;
        display: flex;
        line-height: 80px;
        flex-direction: column;
        justify-content: space-around;
    }

    .Menu_Mobile ul{
        margin-left: 100px;
    }

    .frase_banner_texto{
        padding-bottom:22px;
    }

    /*COMO FUNCIONA*/
    .container2{
        padding-top: 31px;
    }

    .container_3 .Imagem_computador img{
        width: 80%;
        height: 80%;
    }
    .Texto h1{
        margin-left: 52px;
        font-size: 31px;
    }

    .container_3 .Imagem_computador{
        padding-right:0px;
    }
    .Texto .Texto_info{
        margin: auto;
        width: 309px
    }

    /*ÁREA NÚMERO DOCWAY*/
    .Container_Nº{
        height:auto;

    }

    .container_nº2 {
        flex-direction: column;
        margin: auto;
    }

    .container_nº2 h1 {
       padding-top:20px;
       margin: auto
          

          
    }

    .texto_numero {
        font-size: 17px;
        margin-top: 48px;
    }

    .barra {
        width: 47px;
    }
    #Docway_Numero {
        margin-top: 159px;
        padding-bottom: 56px;
    }

    .container_nº2 h1{
        text-align: center;
    }

    .container_media2 img {
        width: 177px;
    }

    /*AGENDE AGORA SUA CONSULTA*/
   #agendar{
    width: 382px;
    margin-top: 46px;
   }

   .consulta_texto{
      font-size: 26px

   }
   #consulta .frase_banner{
      margin-top: 145px;
   }
    
   
}











/*transition: 1s;* AQUI VOCÊ CONTROLA O TEMPO DE EFEITO DE ALGUMA COISA/




